<main class="container px-6 mx-auto">
    <div class="mb-6">
        <h4>Admin home</h4>
        <p>Manage editions and tasks</p>
    </div>

    <div class="card">
        <p>Navigate to the admin pages</p>
    </div>
</main>