<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "OutdoorDwa", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body class= "bg-gray-100">
    <header>
      <section class="container mx-auto">
        <nav role="navigation" class="flex justify-between">
          <ul class="flex p-0">
            <li class="p-6"><a class="text-black" href="<%= Routes.home_path(@conn, :index) %>">HOME</a></li>
            <li class="p-6" data-show-if-role="TeamMember,TeamLeader"><a class="text-black" href="<%= Routes.live_path(@conn, OutdoorDwaWeb.TracksOverviewLive) %>">TRACKS</a></li>
            <li class="p-6" data-show-if-role="TeamMember,TeamLeader"><a class="text-black" href="<%= Routes.task_overview_path(@conn, :index) %>">TASKS</a></li>
            <li class="p-6" data-show-if-role="TeamMember, TeamLeader"><a class="text-black" href="<%= Routes.project_path(@conn, :index) %>">PROJECTS</a></li>
            <li class="p-6" data-show-if-role="TeamMember,TeamLeader"><a class="text-black" href="<%= Routes.team_statistics_path(@conn, :index) %>">STATISTICS</a></li>
            <li class="p-6" data-show-if-role="TeamMember,TeamLeader"><a class="text-black" href="<%= Routes.team_rankings_path(@conn, :index) %>">TEAM RANKINGS</a></li>
            <li class="p-6" data-show-if-role="TeamLeader"><a class="text-black" href="<%= Routes.team_settings_path(@conn, :index) %>">TEAM SETTINGS</a></li>
            <li class="p-6" data-show-if-role="TeamLeader"><a class="text-black" href="<%= Routes.announcement_path(@conn, :index) %>">ANNOUNCEMENTS</a></li>
          </ul>

          <ul class="flex p-0">
            <li class="p-6" data-show-if-guest><a class="text-black" href="<%= Routes.login_path(@conn, :index) %>">LOG IN</a></li>
            <li class="p-6" data-show-if-guest><a class="text-black" href="<%= Routes.live_path(@conn, OutdoorDwaWeb.RegistrateUserLive) %>">REGISTER</a></li>
            <li class="p-6" data-show-if-role="Organisator"><a class="text-black" href="<%= Routes.admin_home_path(@conn, :index) %>">ADMIN</a></li>
            <li class="p-6" data-show-if-authenticated><a class="text-black" href="<%= Routes.logout_path(@conn, :index) %>">LOGOUT</a></li>
          </ul>
        </nav>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
